# Global Data Keys
MASTER_KEY=12345678901234567890123456789012

# Account Service
ACCOUNT_DB_URL=postgresql://novapay:secret@db:5432/account_db?schema=public
ACCOUNT_PORT=3001

# Transaction Service
TRANSACTION_DB_URL=postgresql://novapay:secret@db:5432/transaction_db?schema=public
TRANSACTION_PORT=3002
ACCOUNT_SERVICE_URL=http://account-service:3001
LEDGER_SERVICE_URL=http://ledger-service:3003
FX_SERVICE_URL=http://fx-service:3004

# Ledger Service
LEDGER_DB_URL=postgresql://novapay:secret@db:5432/ledger_db?schema=public
LEDGER_PORT=3003

# FX Service
FX_DB_URL=postgresql://novapay:secret@db:5432/fx_db?schema=public
FX_PORT=3004

# Payroll Service
PAYROLL_DB_URL=postgresql://novapay:secret@db:5432/payroll_db?schema=public
PAYROLL_PORT=3005
REDIS_URL=redis://redis:6379
TRANSACTION_SERVICE_URL=http://transaction-service:3002

# Admin Service
ADMIN_PORT=3006
